<%= form_for [:admin, @course] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %><br>
  
  <%= f.label :time %>
  <%= f.number_field :time, class: "form-control" %>
  
  <%= f.fields_for :questions do |builder| %>
    <%= render 'question', f: builder %>
  <% end %>

  <p><%= link_to_add_fields "Add Question", f, :questions %></p>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>